.widget-title {
    font-size: .99rem;
    cursor: pointer;
    background: #343946;
    color: #8e95a5
}

.episodeitems {
    position: relative;
    /* overflow: hidden; */
    /* max-height: 250px */
}

/* @media screen and (max-width: 768px) {
    .episodeitems {
        display:none
    }
} */

.episodeitems .item {
    padding: 10px 15px;
    border-bottom: 1px solid #292d38
}

.episodeitems .item:last-child {
    border-bottom: none
}

.episodeitems .item .toggler {
    float: right;
    margin: 3px 0 0 10px;
    color: #00acc1;
    font-size: 1.8rem;
    cursor: pointer
}

.episodeitems .item .ep {
    font-weight: 400;
    font-size: 1rem
}

.episodeitems .item .ep i {
    color: #00acc1;
    font-weight: 500;
    font-style: normal
}

.episodeitems .item .ep i:after {
    color: #777;
    content: " - "
}

.episodeitems .item .ep .name {
    color: #aab0bc;
    cursor: pointer
}

.episodeitems .item .date {
    margin-bottom: 5px;
    color: #777;
    font-weight: 500;
    font-size: .75rem
}

.episodeitems .item .desc {
    /* display: none; */
    margin: 0 -15px -5px;
    padding: 0px 15px;
    /* background: #22262f; */
    color: #777;
    font-weight: 400;
    font-size: .85rem
}