.banner {
	margin: 0px;
	width: 100%;
}

.banner .bannerlogo {
	bottom: 0;
	width: 30vw;
	min-width: 250px;
	max-width: 60vw;
	/* margin: 1vw 4vw; */
}

.banner .bannerdetails {
	width: 30vw;
    min-width: 250px;
    max-width: 60vw;
	bottom: 0;
    z-index: 5;
    position: absolute;
    margin: 1vw 4vw;
    transform-origin: bottom left;
}

.banner .bannerdetails .bannerdesc {
	opacity: 0;
	max-height: 0;
	/* transform: scaleY(0); */
	transition: all 1200ms ease 200ms;
	overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.banner .bannerdetails .bannerdesc .buttons {
	margin: .2rem 1rem 1rem;
}

@media not all and (pointer:coarse) {
	.banner .bannerdetails:hover .bannerdesc {
		opacity: 1;
		max-height: 10rem;
		/* transform: scaleY(1); */
	}
}

.banner #bannervideo {
	width: 100%;
	height: 60vh;
	position: relative;
	margin: 0 auto;
	background-repeat: space;
	background-attachment: fixed;
	background-position: center;
}

.banner .bannerbackground {
	height: 100%;
	width: 100%;
	z-index: -1;
	/* transform: scale(1.8); */
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	background-position: center;
	display: none;
	object-fit: cover;
}

@media (pointer:coarse) {
	.banner .bannerbackground {
		display: unset
	}
}

.banner .bannervideoiframewrapper {
	height: 100vh;
	width: 100%;
	overflow: hidden;
	position: absolute;
	background: linear-gradient(to bottom, transparent 0%, var(--dark-color--2) 100%);
}

.banner #bannervideoiframe {
	z-index: -2;
	height: 100%;
	width: 100%;
	position: absolute;
	/* This instead of changing size of the video element itself */
	transform: scale(1.8);
	pointer-events: none;
}

.banner .video-stream.html5-main-video {
	width: 100% !important;
	height: auto !important;
	left: unset !important;
	top: 0px !important;
	/* margin-top: -25vh !important; */
}