/* @import "@material/animation/variables"; */

:root {
	--theme-color: #FFCF10;
	--theme-red: #E50914;
	--theme-red-progress: #E50914CC;
	--theme-color-80: #FFCF1080;
	--theme-color-pressed: #dab210;
	--theme-color-border: #ffcf0fb7;
	--dark-color-0: #1e2129;
	--dark-color-1: #272b35;
	--dark-color-2: #303441;
	--dark-color--1: #15171e;
	--dark-color--2: #0d0e12;
	--dark-color--3: #040506;
	--navbar-height: 60px;
	--poster-height: 25vh;
	--poster-height-min: 200px;
	--thumbnail-height: 25vh;
	--thumbnail-height-min: 200px;
	--vert-scrollbarheight: 1rem;
}

@media (max-width: 768px) {
	:root {
		--navbar-height: 50px;
	}
}

html, body {
	background-color: var(--dark-color--2);
	color: white;
	/* text-shadow: 0px 0px 15px #000; */
	font-family: Medium-font;
}

body {
	-webkit-animation: fade-in .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

h1, h2, h3, h4, h5, h6 {
	margin: 1rem 0 .5rem;
	opacity: 90%;
}

h1#category, h2#category, h3#category, h4#category, h5#category, h6#category {
	user-select: none;
}

.material-icons {
	vertical-align: middle;
	/* margin-top: -2px; */
	user-select: none;
}

.material-icons.suffix {
	margin-left: .4rem
}

.material-icons.prefix {
	margin-right: .4rem
}

/* scrollbars */

::-webkit-scrollbar {
	height: var(--vert-scrollbarheight);
	width: 0.5rem;
	border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
	background: var(--dark-color-1);
	border-radius: 1rem;
}

:focus {
	outline: -webkit-focus-ring-color auto 0;
}

a, a:hover, a:not(:hover), a:active, a:visited {
	color: unset;
	text-decoration: none;
}

.btn-primary {
	background: var(--theme-color);
	border-color: var(--theme-color-border);
	color: var(--dark-color-0) !important;
}

.btn-primary:hover {
	background: var(--theme-color-pressed);
	border-color: var(--theme-color-border);
	color: var(--dark-color-0);
}

.btn-primary.disabled, .btn-primary:disabled {
	pointer-events: none;
	background: var(--theme-color-pressed);
	border-color: var(--theme-color-border);
	color: var(--dark-color-0);
}

.btn-primary.focus, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
	color: var(--dark-color-0);
	background-color: var(--theme-color-pressed);
	border-color: var(--theme-color-border);
	box-shadow: 0 0 0 0.2rem var(--theme-color-border) !important;
}

.container {
	padding: 0
}

.btn-custom {
	border: 0;
	border-radius: 1.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	margin: 0.2rem
}

.col {
	flex-grow: 1;
}

.details-wrapper p {
	margin: 1rem 0;
}

.content {
	padding-top: calc(-0.5vh - (2.9rem + .75rem + 2px) - 1px - 8px);
}

.testimonial-group .row {
	overflow-x: auto;
	overflow-y: visible;
	white-space: nowrap;
	/* 0.5 = scrollbar height */
	/* padding: var(--vert-scrollbarheight) 0.2rem 0; */
	/* Shadows */
	/* Shadow covers */
	background-position: left center, right center, left center, right center;
	background-repeat: no-repeat;
	background-size: 80px 100%, 80px 100%, 40px 100%, 40px 100%;
	background-attachment: local, local, scroll, scroll;
	/* border-radius: 3rem; */
}

.d-flex.flex-wrap {
	justify-content: space-evenly;
}

.testimonial-group .row, .testimonial-group h3 {
	/* padding: 0px 20px; */
	margin-bottom: 0
}

.special {
	color: var(--theme-color) !important;
}

.special.disabled {
	color: var(--theme-color-80) !important;
}

.disabled {
	pointer-events: none !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: inherit;
	background-color: var(--theme-red-progress);
	border-color: transparent;
	border-bottom-color: #dee2e6;
}

@media (pointer:coarse) {
	:root {
		--poster-height: 20vh;
		--thumbnail-height: 20vh;
	}
}

/* ----------------------------------------------
 * Generated by Animista on 2020-1-20 20:20:9
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.item.thumbnail .title {
	white-space: normal;
	background-color: transparent;
	text-shadow: 0 0 8px #000;
	width: 100%;
	float: left;
	position: absolute;
	left: 0px;
	bottom: 0rem;
	padding: .5rem;
}

.actions {
	/* static */
	background-color: #000000b3;
	height: 2rem;
	opacity: 100;
	top: 0;
	/* on hover */
	/* height: 0;
	opacity: 0;
	top: 0; */
	width: 100%;
	border-radius: 0;
	float: left;
	overflow: hidden;
	left: 0px;
	z-index: 5;
	transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item .actions {
	position: absolute;
}

.actions button {
	padding: unset;
	margin: auto;
	height: 100%;
	width: 100%;
	border: 0;
	color: #FFF;
	background-color: initial;
	border-radius: 0;
	transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.actions button:focus {
	outline: none;
}

.actions button.on {
	color: initial;
	background-color: var(--theme-red-progress);
}

.actions button.watchlist::after {
	content: 'playlist_add';
}

.actions button.watchlist.on::after {
	content: 'playlist_add_check';
}

.actions button.finished::after {
	content: 'done';
}

.actions button.finished.on::after {
	content: 'clear';
}

/* on hover */

/* .item:hover .actions {
	background-color: #000000b3;
	height: 2rem;
	opacity: 100;
} */

.progress {
	background-color: #000000b3;
	border-radius: 0;
	height: .5rem;
	width: 100%;
	float: left;
	position: absolute;
	left: 0px;
	bottom: 0;
	z-index: 5;
}

.progress .progress-bar {
	min-width: 10%;
	background-color: var(--theme-red-progress);
}

.overlay {
	z-index: 2;
	text-align: center;
	width: 100%;
	height: 100%;
	align-items: center;
	display: grid;
	position: absolute;
	background-color: #000000b3;
}

.item {
	background-color: var(--dark-color--3);
	border-style: solid;
	border-color: var(--dark-color--2);
	border-radius: 0.5rem;
	/* margin: 0.1rem; */
	display: inline-block;
	float: none;
	transition: all 120ms cubic-bezier(0.4, 0, 0.2, 1);
	overflow: hidden;
	transform-origin: center;
	vertical-align: middle;
	position: relative;
	user-select: none;
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
	/* box-shadow: 3px 3px 10px -1px var(--dark-color--3), -2px 2px 5px -1px var(--dark-color--2), -2px -2px 5px -1px var(--dark-color--2); */
	box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.8);
}

.item img {
	display: inline-block;
	float: none;
	/* transition-delay: 450ms; */
	/* transition: all 2000ms cubic-bezier(0.4, 0, 0.2, 1); */
	animation-fill-mode: forwards;
}

.item.poster {
	min-height: var(--poster-height-min);
	/* max-height: var(--poster-height); */
}

.item.poster img.poster {
	min-height: var(--poster-height-min);
	height: var(--poster-height);
	min-width: calc(var(--poster-height-min) / 225 * 158);
	width: calc(var(--poster-height) / 225 * 158);
}

.item.thumbnail {
	min-height: var(--thumbnail-height-min);
	/* max-height: var(--thumbnail-height); */
}

.item.thumbnail img.thumbnail {
	min-height: var(--thumbnail-height-min);
	height: var(--thumbnail-height);
	min-width: calc(var(--thumbnail-height-min) / 112 * 200);
	width: calc(var(--thumbnail-height) / 112 * 200);
}

/* Only scale on hover on desktop */

@media not all and (pointer:coarse) {
	.item img:hover, .item .overlay:hover+img {
		transition: all 2000ms cubic-bezier(0.4, 0, 0.2, 1);
		transform: scale(1.05);
		/* animation-name: poster;
		animation-duration: 10s;
		animation-iteration-count: infinite;
		animation-fill-mode: forwards; */
	}
	.d-flex.flex-wrap .item.poster:hover {
		transform: scale(1.1);
		margin: 1.1rem 1.1rem;
	}
	/* .d-flex.flex-wrap .item.thumbnail:hover {
		transform: scale(1.1);
		margin: 1.1rem 1.1rem;
	} */
	/* .swiper-container:hover .item:not(:hover) {
		filter: brightness(0.5);
	} */
	/* .swiper-container:not(:hover) .item {
		filter: brightness(1);
	} */
	/* .swiper-container:hover .item:hover {
		filter: brightness(1.0);
	} */
}

.item img:active {
	filter: brightness(40%);
}

/* SWIPERJS */

.swiper-container {
	width: 100%;
	height: 100%;
	padding: 2vw calc(var(--swiper-navigation-size)/ 44 * 50/4*3);
}

.swiper-slide {
	/* Custom: */
	height: auto !important;
	max-height: unset !important;
	min-height: unset !important;
	/* text-align: center; */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide img.poster, .swiper-slide img.thumbnail {
	width: inherit !important;
	max-width: unset !important;
	min-width: unset !important;
	height: 100% !important;
	max-height: unset !important;
	min-height: unset !important;
	object-fit: cover !important;
}

.swiper-button-next, .swiper-button-prev {
	color: var(--theme-red);
	height: auto;
	width: calc(var(--swiper-navigation-size)/ 44 * 50);
	top: 0;
	bottom: 0;
}

.swiper-button-next:after, .swiper-button-prev:after {
	font-weight: bold;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
	left: auto;
	right: 0;
	background: linear-gradient(to left, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, 0) 100%);
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
	left: 0;
	right: auto;
	background: linear-gradient(to right, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, 0) 100%);
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
	bottom: 0;
}

.swiper-pagination-bullet-active {
	background: var(--theme-red);
}

@keyframes poster {
	0% {
		transform: scale(1.00);
	}
	50% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1.00);
	}
}

@keyframes thumbnail {
	0% {
		transform: scale(1.00);
	}
	50% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1.00);
	}
}

/* All modals */

.modal h1, .modal h2, .modal h3, .modal h4, .modal h5, .modal h6 {
	margin: unset;
	opacity: 100%;
}

.modal {
	overflow: auto;
	height: 100vh;
	backdrop-filter: blur(3px);
	color: white;
}

.modal-content {
	background-color: var(--dark-color--2);
}

.modal-header {
	background-color: var(--dark-color--2);
	border-bottom: 1px solid var(--dark-color-0);
}

.modal-body {
	background-color: var(--dark-color--1);
}

.modal-footer {
	background-color: var(--dark-color--2);
	border-top: 1px solid var(--dark-color-0);
}

/* Summary data */

.summary-data .col * {
	vertical-align: middle;
}

.summary-data .title .labels {
	background: var(--theme-color);
	color: var(--dark-color-0);
	padding: .2em .5em;
	font-weight: 500;
	font-size: .8rem;
	white-space: nowrap;
	border-radius: 2px;
}

.summary-data .title .labels .label {
	color: var(--dark-color-0);
	padding: .2em 0 .35rem .3em;
	margin: .1rem;
	font-weight: bold;
	font-size: 1rem;
}

.summary-data div.meta>span .imdb {
	color: #fbb829;
	font-weight: 700;
}

/* .details-wrapper div.meta>span .material-icons {
    font-size: unset;
} */

.summary-data div.meta b {
	margin-right: 10px;
}

.summary-data div.meta .genres {
	padding: .2em .5em;
	margin: .1rem;
	background: var(--theme-red);
	color: #eee;
	font-weight: 500;
	font-size: .8rem;
	white-space: nowrap;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}

.summary-data p.description {
	overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}