.navbar {
	padding: 0.5% 4%;
	background: linear-gradient(to top, transparent 0%, var(--dark-color-1) 150%);
	z-index: 10;
	width: 100%;
	position: fixed;
	/* transition: all .2s ease-in; */
	font-family: Bold-font, Arial;
	font-weight: 700;
	/* height: var(--navbar-height); */
	/* font-size: 56px; */
	line-height: 30px;
	user-select: none;
}

.navbar.scrolled {
	backdrop-filter: blur(7px);
}

@media (max-width: 768px) {
	.navbar.scrolled, .navbar.expanded {
		backdrop-filter: blur(7px);
		max-height: 100vh;
		/* overflow: auto; */
	}
}

@keyframes navbar {
	0% {
		background: linear-gradient(to top, transparent 0%, var(--dark-color-1) 100%);
	}
	100% {
		background: var(--dark-color-1);
	}
}

.navbar .navbar-brand img {
	max-width: 220px;
	height: auto;
}

.navbar img {
	height: calc(1.5em + .75rem + 2px);
	border-radius: 0.5rem;
}

.navbar .form-inline .form-control {
	padding-left: 15px;
	background: #00000050;
	border: solid var(--dark-color-2) 2px;
}

@media (min-width: 576px) {
	.navbar .form-inline .form-control {
		display: inline-block;
		vertical-align: middle;
	}
}

.navbar .dropdown-search .search-form {
	padding-bottom: .5rem;
}

.navbar .dropdown-search .dropdown-search-input {
	margin: 0 1rem;
	outline: none;
	border-radius: 20px;
	color: #FFF;
	border: none;
}

.navbar .form-inline.my-2.my-lg-0>img {
	margin-left: 10px
}

.navbar .dropdown-menu {
	background-color: var(--dark-color-0);
	box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.5);
	color: white;
}

.navbar-second {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-second .nav-item {
	cursor: pointer;
}

.navbar-second .dropdown-toggle {
	text-align: center;
}

.navbar-second .dropdown-menu:last-of-type {
	margin-bottom: 1rem;
}

.navbar>div>.navbar-nav .dropdown-toggle::after {
	vertical-align: middle !important;
}

.navbar>div>.navbar-second .dropdown-toggle::after {
	vertical-align: baseline !important;
}

/* Expanding search bar */

input.search[type="search"]::-webkit-search-decoration, input.search[type="search"]::-webkit-search-cancel-button, input.search[type="search"]::-webkit-search-results-button, input.search[type="search"]::-webkit-search-results-decoration {
	display: none;
}

input.search {
	outline: none;
	opacity: 0;
	padding-left: 15px;
	width: 0;
	/* max-width: 250px; */
	border-radius: 20px;
	color: var(--dark-color-0);
	border: none;
	transition: all 0.8s ease;
	padding: 0;
	color: #FFF !important;
}

.search-button {
	border-radius: 20%;
	position: absolute;
	right: 0;
	/* top: 0;
    bottom: 0; */
	text-align: center;
	transition: transform 0.8s ease;
	padding: 0 .5rem !important;
	transform: rotateY(0deg);
}

.search-button>.material-icons {
	font-size: 28px;
	transition: transform 0.8s ease;
	transform: rotateY(180deg);
}

.search-button:after {
	content: none !important;
}

/* .search-wrapper > .dropdown-toggle::after {
	content: none !important;
} */

input.search.search-active {
	opacity: 100;
	width: 100%;
	/* margin-right: calc(-44px); */
}

@media (max-width: 885px) {
	input.search.search-active {
		/* width: 144px !important; */
		font-size: 13px;
	}
	@media (max-width: 768px) {
		input.search.search-active {
			/* width: 250px !important; */
			font-size: initial;
		}
	}
}

.search-button.search-expanded {
	color: #FFF;
}

.search-button.search-expanded>.material-icons {
	transform: none;
	/* transition: transform 0.8s ease; */
}

/* Quick search */

/* .navbar-second .search-wrapper {
	width: 100%;
} */

.navbar-second .search-wrapper>.nav-link {
	position: relative;
}

/* form#main-search {
	position: relative;
} */

/* @media (min-width: 768px) {
	form#main-search .quick-search {
		position: absolute;
	}
} */

.search-wrapper .quick-search {
	/* position: absolute; */
	/* transition: all 0.8s ease; */
	/* height: 250px; */
	/* width: inherit; */
	top: calc(1.5em + .75rem + 2px + 4px);
	left: .5rem;
	right: .5rem;
}

.search-wrapper .quick-search div {
	word-break: break-word;
}