.content {
    z-index: 5;
    margin-top: var(--navbar-height);
    width: -webkit-fill-available;
    width: -moz-available;
}

.content.summary {
    margin: 4vw;
}

.content.episodes {
    margin: 0 4vw;
    height: 0;
    position: absolute;
}

@media (max-height: 768px) {
    .content.summary {
        margin: calc(var(--navbar-height) + 10px) 4vw 4vw;
    }
}

@media (min-height: 768px) {
    .content {
        bottom: 0;
        position: absolute;
    }
    .content .details-wrapper {
        bottom: 0;
    }
}

@media (min-width: 1200px) {
    .content.episodes {
        height: 40px;
    }
}

/* @media (max-height:70vw) {
    .content.summary {
        margin-top: calc(-30vh / 16 * 9);
    }
} */

/* .row {
    margin: 0;
} */

.content.summary .item {
    margin: 0 auto auto;
}

.container-fluid .episodes nav {
    background-color: var(--dark-color--1);
}

.container-fluid .episodes .tab-content {
    background: -webkit-linear-gradient( var(--dark-color-0) 0%, var(--dark-color--2) 100%);
}

.container-fluid .episodes .tab-pane .thumbnail {
    margin: 0.5rem;
    display: inline-block;
    float: none;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.5);
    transition: all 600ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 450ms;
    overflow: hidden;
    border-radius: 0.5rem;
    transform-origin: center;
    vertical-align: middle;
    scroll-snap-align: center;
}

.container-fluid .episodes .tab-pane .thumbnail img {
    /* min-height: var(--thumbnail-height-min);
	height: var(--thumbnail-height);
	min-width: calc(var(--thumbnail-height-min) / 225 * 158);
	width: calc(var(--thumbnail-height) / 225 * 158);
	display: inline-block;
	float: none; */
    transition-delay: 450ms;
    transition: all 2000ms cubic-bezier(0.4, 0, 0.2, 1);
    animation-fill-mode: forwards;
    background-color: var(--dark-color--3);
}

@media not all and (pointer:coarse) {
    .container-fluid .episodes .tab-pane>a:hover {
        filter: brightness(100%);
    }
    .container-fluid .episodes .tab-pane>a, .container-fluid .episodes .tab-pane>a:not(:hover) {
        color: unset;
        text-decoration: none;
        filter: brightness(80%);
    }
    .container-fluid .episodes .tab-pane .thumbnail:hover {
        transition: all 600ms cubic-bezier(0.4, 0, 0.2, 1);
        margin: 2.5rem 3.2rem;
        z-index: 2;
        transform: scale(1.4);
    }
    .container-fluid .episodes .tab-pane .thumbnail img:hover {
        transition: all 2000ms cubic-bezier(0.4, 0, 0.2, 1);
        transform: scale(1.05);
        /* animation-name: thumbnail;
		animation-duration: 10s;
		animation-iteration-count: infinite;
        animation-fill-mode: forwards; */
    }
}

.container-fluid .episodes .tab-pane>a:active, .container-fluid .episodes .tab-pane>a:visited {
    filter: brightness(40%);
}

@media not all and (pointer:coarse) {
    .container-fluid .episodes .tab-pane {
        transition: 0.3s;
        margin: 0px 2vw 2vw 2vw;
    }
}

.container-fluid .episodes .tab-pane>a {
    display: block;
}

.container-fluid {
    padding-right: unset;
    padding-left: unset;
}

.container-fluid>div {
    margin: .5vw .5vw;
}

.container-fluid>.details-wrapper .col {
    min-width: 70%;
}

.container-fluid>div {
    margin: 0;
}

.summary .container-fluid .details-wrapper .col .watch * {
    color: var(--dark-color-0);
}

.container-fluid .episodes {
    margin: auto !important;
    margin-bottom: 4vw !important;
    background-color: #181a20;
    border-radius: calc(.5rem - 1px);
    box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.8);
}

.container-fluid .episodes .episode .thumbnail {
    -ms-flex: 0 0 140px;
    flex: 0 0 140px;
}

@media screen and (min-width: 1280px) {
    .container-fluid .episodes .episode .thumbnail {
        -ms-flex: 0 0 224px;
        flex: 0 0 224px;
    }
}

.container-fluid .episodes .episode .details {
    padding: 10px;
}

.container-fluid .episodes .title {
    margin: 5px 0;
    /* color: #00b4cc; */
    font-weight: 400;
}

.container-fluid .episodes .desc {
    margin: 0 -15px -5px;
    padding: 0px 15px;
    color: #777;
    font-weight: 400;
    font-size: .85rem;
}

.episode .thumbnail img {
    width: 100%;
    max-width: none;
    -webkit-border-radius: calc(.3rem - 1px);
    -khtml-border-radius: calc(.3rem - 1px);
    -moz-border-radius: calc(.3rem - 1px);
    -ms-border-radius: calc(.3rem - 1px);
    -o-border-radius: calc(.3rem - 1px);
    border-radius: calc(.3rem - 1px)
}

.background-gradient {
    z-index: 2;
    width: 100%;
    height: 170%;
    background: linear-gradient(to top, transparent 10%, var(--dark-color--2) 90%);
    position: absolute;
    background-size: cover;
}

.background-image {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: fixed;
    object-fit: cover;
    filter: blur(8px);
    top: 0;
}