html, body {
  overflow: auto;
  height: 100%;
  width: 100%;
}

* {
  padding: 0px;
  margin: 0px;
}

.iframe-wrapper {
  width: 100%;
  height: 100%;
  background: #000;
  position: relative;
  margin: 0 auto;
}

iframe.browser {
  width: 100%;
  height: 100%;
}

iframe.embed {
  width: 100%;
  height: calc(100vw/16*9);
}